html {
    scroll-behavior: smooth;
     
}

/* div,
p,
img,
li,
ul,
header,
main,
footer,
h1,
h2
{
border: 1px solid red;
} */

body {
    background-color: rgb(199, 199, 199);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    margin: 0 auto;
}

.container {
    width: 1600px;
    margin: 0 auto;
}



.overlay {
    width: 100%;
    height: 750px;
    /* изменение высоты картинки*/
    background: url('./img/logo.png');
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
    /* изменение затемнения картинки*/
    position: relative;
    z-index: 0;
    background-color: #FFFFFF;

}

/* header */
header {}

.burger-menu-btn {
    display: none;
}

.menu-list {
    display: none;
}

.ullia {

    text-decoration: none;
    color: #fff;
    font-size: 16px !important;
    text-transform: uppercase;

}

ul {
    padding-left: 20px;
    list-style-type: none;
}

.header {
    width: 1600px;
    position: absolute;
    z-index: 1;


}

.header_cont {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 0;
}

.header_logo {}

ul {
    display: flex;
    gap: 50px;
}

/* блок записаться */
.sign_up {
    margin-top: 350px;
    width: 1600px;
    text-align: center;
    position: absolute;
    gap: 30px;
    z-index: 1;
}

.sign_up p {
    margin: 0 auto;
    font-size: 18px !important;
    color: #fff;
}

.sign_up h1 {
    margin: 15px 0;
    font-size: 40px !important;
    color: #fff;
}

.sign_up button {
    width: 200px;
    height: 45px;
    background: #CA2023;
    color: #fff;
    border: 1px solid #CA2023;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

/* tps */
.tps {
    width: 1600px;
    height: 300px;
    background: #1C1C1C;

    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.tps img {
    margin-bottom: -100px;
    display: block;
}

.tps p {
    margin-top: -70px;
    margin-left: 100px;
    font-size: 12px !important;
    color: #fff;
    display: block;

}

.wrap_img p {
    margin-top: -5px;
    margin-left: 100px;
    font-size: 12px !important;
    color: #fff;
    display: block;

}

.span {
    margin-left: 100px;
}

/* exercise_equipment */
.exercise_equipment {}

.content_eqipment {
    padding-top: 50px;
    background: #FFFFFF;
    width: 1600px;
    padding-bottom: 20px;
}

.equipment {
    display: flex;
    gap: 30px;
    background-color: #FFFFFF;
    width: 1300px;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
}

.vert_list {
    list-style-type: disc;
    display: block;
}

hr {
    border: 1px solid #CA2023
}

.vertical-list li {
    display: block;

}

.li_lol {
    font-size: 20px !important;
}

.equipment_2 {
    width: 1400px;
    margin: 50px 0 50px 100px;

    justify-content: flex-end;
    display: flex;
    gap: 45px;
}

.equipment3 {
    display: none;
}

/* aboutus */
.aboutus {}

.aboutus_content {
    width: 1600px;
    height: 300px;
    background: #1C1C1C;
    padding-bottom: 100px;

}

.about {
    padding-top: 25px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.ab_title {
    margin: 0 0 0 60px;
    text-align: center;
    color: #fff;
}

.ab_conte {
    padding-top: 80px;
}

.ab_cont p {
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.ab_cont {
    line-height: 25px;
}

.aci {
    margin-left: 25px;
}

.ab_cont_img {
    text-align: center;
}

.ad_img {
    margin: 0 auto;
    display: inline-block;
}

/* 3d_model */
.d_model {}

.d_model_cont {
    background-color: #FFFFFF;
    padding-top: 50px;
}

.d_text {
    margin: 0 auto;
    width: 450px;
}

.d_text p,
.d_text h1 {
    margin: 0 auto;
}

.d_img_cont {
    margin: 0 auto;
    width: 1020px;
}

.d_img {}

/* FOOTER */
.footer {
    width: 1600px;

    background: #1C1C1C;
}

.foot_cont {
    padding-top: 50px;
    padding-bottom: 30px;
    ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact {
    width: 500px;
    margin: 0 auto;
}

.con {
    display: flex;
    justify-content: space-between;
}

.con p {
    margin: 0 10px 10px;
    color: #fff;
}

.con img {
    height: 18px;
}

.connect h1 {
    color: #fff;
}

.foot_img {
    width: 200px;
    height: 90px;
    vertical-align: middle;

}

.wrap_img {}

.signature p {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 14px !important;
    padding: 15px 0 10px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1C1C;
    padding: 20px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.cont_logo {
    font-size: 32px !important;
    color: #fff;
    margin: 10px 0;
}

.contact_logo {
    width: 600px;
}

.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1C1C;
    padding: 20px;
    border-radius: 5px;
}

.close2 {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.close2 h2 {
    text-align: center;
}

.button_ul {
    border: none;
    background: none;
    color: #fff;
    padding: 0 0 0 0;
}


.burger-menu {
    position: relative;
}

.burger-menu-btn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.menu-list {
    display: none;
    position: absolute;
    top: 54px;
    right: 30px;
    background-color: #333;
    padding: 10px 10px 10px 0;
    padding: 20px;
}

.menu-list li {
    color: #fff;
    list-style: none;
    margin: 5px 0;
}

.message_con {
    width: 300px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 50px;
}

@media(max-width:800px) {
    .container {
        width: 400px;
    }

    .header {
        width: 400px;
    }

    .header_cont {
        width: 280px;
        padding: 30px 15px 0 30px;
    }

    .header_logo img {
        width: 90px;
        height: 30px;
    }


    .ul {
        padding-left:20px ;
        width: 260px;
        margin: 7px 0 0 0;
        display: flex;
        gap: 14px;
    }
    ul{
        padding: 0px;
    }

    .burger-menu {
        display: block;
    }

    .sign_up {
        width: 400px;
    }

    .tps {
        width: 400px;
        height: 100px;
        padding-bottom: 20px;
    }

    .tps img {
        width: 138.5px;
        height: 45px;
    }

    .tps p {
        margin-top: 70px;
        margin-left: 25px;
        font-size: 7px !important;
    }

    .message_con {
        width: 300px;
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        gap: 50px;
        justify-content: center;
        width: 50px;
    }

    .content_eqipment {
        width: 400px;
    }

    .equipment {
        display: block;
        width: 300px;
    }

    .equipment_2 {
        display: none;
        width: 300px;
        margin: 0 auto;
    }

    .equipment3 {
        display: block;
        margin: 50px auto;

    }

    .equipment .imagehockey {
        width: 300px;
    }

    .aboutus_content {
        width: 400px;
        height: 100%;
    }

    .ab_title {
        margin: 0 auto;
    }

    .about {
        display: block;
    }

    .footer {
        width: 400px;
    }

    .d_text {
        width: 300px;
    }

    .d_img_cont {
        width: 300px;
    }

    .d_img {
        width: 300px;
    }

    .contact {
        width: 100%;
        line-height: 1.5;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .wrap_img {
        line-height: 1;
        justify-content: center;
        display: flex;
    }


    .wrap_img p {
        margin-top: 50px;
        margin-left: -85px;
        font-size: 7px !important;
    }

    .wrap_img img {
        width: 138.5px;
        height: 45px;
    }

    .foot_cont {
        display: block;
    }

    .connect {
        width: 300px;
        margin: 0 auto;

    }

    .connect h1 {
        text-align: center;
        font-size: 28px !important;
    }

    .ab_img :first-child img {
        margin-left: 25px;
    }

    .modal-content {
        width: 300px;
    }

    .contact_logo {
        width: 300px;
    }

    .cont_logo {
        font-size: 32px !important;

        width: 300px;
        margin: 10px 0;
    }

    .con p {
        margin: 0 auto;

    }

    .logo {
        width: 400px;
    }

    main {
        width: 400px;
    }

    body {
        width: 400px;
    }

    footer {
        width: 400px;
    }

    html {
        width: 400px;
        margin: 0 auto;
    }
}